{{ 'style.card.css' | asset_url | stylesheet_tag }}

<div class="card">
  <img src="{{ image }}" alt="card">
  <h3 class="card__title">{{ title }}</h3>
  <h4 class="card__price">$15.700</h4>
  <h4 class="card__subtitle">New collection</h4>
</div>