{{ 'style.product.css' | asset_url | stylesheet_tag }}

<div class="product">
  <div class="product-img__wrapper">
    <img src="" alt="" class="product__img">
  </div>
  <div class="product__details">
    <h3 class="product__title">Button Ruby</h3>
    <h4 class="product__price">$32.000</h4>
    <h4 class="product__subtitle">New Collection</h4>
  </div>
</div>