{{ 'style.side-cart.css' | asset_url | stylesheet_tag}}

<div class="cart">
  <div class="cart__container">
    <h1 class="cart__title">Your Cart</h1>
    <h3 class="cart__count">(2)</h3>
    <div class="cart__wrapper">
      <div class="cart__products">products</div>
      <div class="cart__footer">footer</div>
    </div>
  </div>
</div>