{{ 'style.email-signup.css' | asset_url | stylesheet_tag }}\

<style>
  .email-cta {
    background-image: url('{{ section.settings.bg_img | img_url: 'large' }}');
  }
</style>

<div class="email-cta">
  <div class="email-cta__container">
    <div class="email-cta-box">
      <h3 class="email-cta__title">{{ section.settings.email_cta_title }}</h3>
      <input class="email-cta__input p" type="text" placeholder="{{ section.settings.email_cta_input_placeholder }}">
    </div>
    <div class="email-cta__btn--wrapper">
      {% render 'secondary-button', title: section.settings.email_cta_btn %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Email SignUp CTA",
    "settings": [
      {
        "id": "bg_img",
        "type": "image_picker",
        "label": "Background Image"
      }, {
        "id": "email_cta_title",
        "type": "text",
        "label": "Title",
        "default": "Lorem ipsum dolor sit amet consectetur adipiscing."
      }, {
        "id": "email_cta_input_placeholder",
        "type": "text",
        "label": "Input Placeholder",
        "default": "Enter your Email"
      }, {
        "id": "email_cta_btn",
        "type": "text",
        "label": "Button",
        "default": "Sign up"
      }

    ]
  }
{% endschema %}