{{ 'style.featured-collections.css' | asset_url | stylesheet_tag }}


<div class="featured-collections">
  {% assign my_products = section.settings.product_list  %}
  <div class="featured-collections__wrapper">
    <h2 class="featured-collections__title item">{{ section.settings.collect_title }}</h2>
    {% for product in my_products %}
      <div class="item">
        {% render 'card', product: product   %}
      </div>
    {% endfor  %}
  </div>
  <div class="featured-collections__btn">
    {% render 'secondary-button', title: section.settings.collect_btn%}
  </div>
</div>

{% schema %}
  {
    "name": "Featured Collections",
    "settings": [
      {
        "id": "collect_title",
        "type": "text",
        "label": "Title",
        "default": "jewelry that not only entices the eye but enchants the soul"
      }, {
        "id": "collect_img",
        "type": "image_picker",
        "label": "Image"
      }, {
        "type": "collection_list",
        "id": "product_list",
        "label": "Products",
        "limit": 4
      }, {
        "id": "collect_btn",
        "type": "text",
        "label": "Button",
        "default": "SHOP ALL"
      }
    ]
  }
{% endschema %}