{{ 'style.account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'js.graphql.customer.js' | asset_url }}" defer></script>


<div class="container">
  <h2 class="customer__title">Customer</h2>
  <div class="customer-info"></div>
</div>