{{ 'style.productsFromGraphQL.css'  | asset_url |  stylesheet_tag}}
<script src="{{ 'js.graphQL.js' | asset_url }}" defer></script>

<div class="container">
  <h3 class="title">Products From GraphQL</h3>
  <div class="graphQL-toggle">GraphQL (0)</div>
  <div class="graphQL-cart">
    <h3 class="graphQL-cart__title">GraphQL Cart (0)</h3>
    {% render 'icon-close' %}
    <div class="cart-products"></div>
    <div class="cart-buttons">
      <h4 class="cart-subtotal">Subtotal:
        <span class="cart-subtotal-counter">0</span>
      </h4>
      <button class="cart-checkout">Checkout</button>
      <button class="cart-continue-shopping">Continue Shopping</button>
    </div>
  </div>
  <div class="products-wrapper"></div>
</div>