{{ 'style.header.css' | asset_url | stylesheet_tag }}

<style>
  .header {
    background-image: url('{{ section.settings.hero_image | img_url: '1440x661' }}');
  }
</style>

<div class="header">
  <div class="rich-text">
    <h1 class="rich-text__title">{{ section.settings.header_title }}</h1>
    {% render 'primary-button', title: section.settings.header_btn  %}
    <div class="header-arrow">
      {% render 'icon-arrow'  %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "id": "hero_image",
        "type": "image_picker",
        "label": "Hero Image"
      }, {
        "id": "header_title",
        "type": "text",
        "label": "Rich Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit Amet."
      }, {
        "id": "header_btn",
        "type": "text",
        "label": "Rich Text Button",
        "default": "Shop Collection"
      }
    ]
  }
{% endschema %}