{{ 'style.plp.css' | asset_url | stylesheet_tag }}

<div class="plp">
  <div class="plp__header">
    <img src="{{ section.settings.plp_hero | img_url: 'large' }}" alt="plp-hero" class="plp__hero">
    <div class="plp__header__nav">
      <ul class="plp__header__items">
        {% for link in section.settings.plp_nav_list.links %}
          <li class="plp__header__item plp__header__item--btn">
            <a href="{{ link.url }}" class="plp__header__link h3 ">{{ link.title | escape }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="products__container">
    <div class="products__selection__wrapper">
      <div class="sort__wrapper">
        <label class="label h4" for="sort">Sort By</label>
        <select class="select h4" name="" id="sort">
          <option class="option h4" value="Select">Select</option>
          <option class="option h4" value="Select">Select</option>
          <option class="option h4" value="Select">Select</option>
        </select>
      </div>

      <div class="collection__wrapper">
        <label class="label h4" for="collections">Collections</label>
        <select class="select h4" name="" id="collections">
          <option class="option h4" value="Select">Select</option>
          <option class="option h4" value="Select">Select</option>
          <option class="option h4" value="Select">Select</option>
        </select>
      </div>

    </div>
    <div class="products__list">
      {% for product in collection.products %}
        {% render 'product', product: product %}
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Product List Page",
    "settings": [
      {
        "id": "plp_hero",
        "type": "image_picker",
        "label": "PLP Hero"
      }, {
        "id": "plp_nav_list",
        "type": "link_list",
        "label": "PLP Header List"
      }
    ]
  }
{% endschema %}