{{ 'style.plp.css' | asset_url | stylesheet_tag }}

<div class="plp">
  <div class="plp__header">
    <img src="{{ section.settings.plp_hero | img_url: 'large' }}" alt="plp-hero" class="plp__hero">
    <div class="plp__header__nav">
      <ul class="plp__header__items">
        {% for link in section.settings.plp_nav_list.links %}
          <li class="plp__header__item plp__header__item--btn">
            <a href="{{ link.url }}" class="plp__header__link h3 ">{{ link.title | escape }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% render 'product' %}
  </div>
</div>

{% schema %}
  {
    "name": "Product List Page",
    "settings": [
      {
        "id": "plp_hero",
        "type": "image_picker",
        "label": "PLP Hero"
      }, {
        "id": "plp_nav_list",
        "type": "link_list",
        "label": "PLP Header List"
      }
    ]
  }
{% endschema %}