{{ 'style.plp.css' | asset_url | stylesheet_tag }}



<div class="plp">
  <div class="plp__header">
    <img src="{{ section.settings.plp_hero.src | img_url: '1440x209' }}" alt="{plp-hero}" class="plp__hero">
    <h1>{{ section.settings.plp_title }}</h1>
    <h1>{{ section.settings.plp_paragraph }}</h1>
  </div>
</div>

{% schema %}
  {
    "name": "Product List Page",
    "settings": [
      {
        "id": "plp_hero",
        "type": "image_picker",
        "label": "PLP Hero"
      }, {
        "id": "plp_title",
        "type": "text",
        "label": "PLP Title",
        "default": "ti"
      }, {
        "id": "plp_paragraph",
        "type": "text",
        "label": "PLP p",
        "default": "ti"
      }
    ]
  }
{% endschema %}