<div class="cart side-cart">
  <div class="cart__container">
    <div class="close__cart">
      {% render 'icon-close' %}
    </div>
    <h1 class="cart__title">Your Cart</h1>
    <h3 class="cart__count">(2)</h3>
    <div class="cart__wrapper">
      <div class="cart__products"></div>
      <div class="cart__footer">
        <h2 class="cart__footer__title">Subtotal $17.700</h2>
        <h4 class="cart__footer__shipping">Shipping and taxes calculated next</h4>
        {% render 'secondary-button', title: 'Chechout' %}
      </div>
    </div>
  </div>
</div>