
.affiliate-outfitting-packages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.affiliate-outfitting-packages__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}

.affiliate-outfitting-packages__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 167.5%;
    color: #000000;
    margin: 24px 0px 40px 0px;
}

.affiliate-outfitting-packages__box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.affiliate-outfitting-packages__box-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 80px 0px 40px 0px;
    background: #F1F1F1;
}

.packages__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #000000;
}

.packages__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    margin: 19px 0px 40px 0px;
}

.packages__box-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.packages__box-item{
    list-style-type: none;
}

.packages__box-item--link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167.5%;
    color: #767676;
}

.packages__view-more--link {
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    outline: none;
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
    margin-top: 40px;
    text-decoration: none;
}

