.pdp {
    background-color: var(--secondary-dark-pink-background);
}

.pdp__container {
    margin-top: 132px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 40px;
    padding: 0 32px;
    border-top: 1px solid var(--primary-black);
}

.pdp__image--container {
    border-right: 1px solid black;
    width: 100%;
    height: 608px;
    clip-path: polygon(3% 0, 97% 0, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0 3%);
    background-color: var(--primary-white);
    display: flex;
    align-items: center;
}

.pdp__images--wrapper {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-right: 1px solid black;
}

.pdp__image--wrapper {
    height: 100%;
    width: 100%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.pdp__image {
    height: 100%;
}
