* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-black:#1D1D1D;
    --primary-white: #FFFFFF;
    --primary-dark-pink-text: #C09188;
    --primary-dark-pink-background: #E8CCBA;
    --secondary-dark-pink-background: #F3E7E0;
    --secondary-white: #F3E7E0;
    --primary-font: "SF New Republic", sans-serif;
    --secondary-font: "Minion Pro Regular", sans-serif;
}

.gradient {
    min-height: 100vh;
}