.pdp {
    background-color: var(--secondary-dark-pink-background);
    padding-top: 132px;
    position: relative;
}

.pdp__container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 40px;
    padding: 0 32px;
}

.pdp__image--container {
    width: 100%;
    height: 608px;
    clip-path: polygon(3% 0, 97% 0, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0 3%);
    background-color: var(--primary-white);
    display: flex;
    align-items: center;
}

.pdp__images--wrapper {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

.pdp__image--item {
    width: 78px;
    height: 78px;
}

.pdp__image--item:hover {
    transform: scale(1.1);
}

.pdp__image--wrapper {
    height: 100%;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.pdp__image {
    height: 100%;
}

/* Image Modal */

.image-modal {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 999;
    background-color: white;
    display: none;
}

.image-modal__wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 56px;
    right: 32px;
}

.modal__images {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.modal__image {
    width: 300px;
    border: 1px solid black;
}

/* Product Details */

.pdp__details--container {
    display: flex;
    flex-direction: column;
}

.product__type {
    color: var(--secondary-dark-pink-text);
}