
.reset__password--title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.recover__container {
    width: 443px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
}

.reset__password--wrapper {
    display: flex;
    align-items:center;
    gap: 18px;
}

.reset__password--box {
    width: 100%;
}

.customer_email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167.5%;
    color: #000000;
}

.reset__password--input {
    width: 100%;
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 167.5%;
    color: #000000;
    outline: none;
    margin-top: 8px;
}

.reset__password--input:focus {
    border-bottom: 1px solid #000000;
}

.reset__password--btn {
    background: #000000;
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
    margin-top: 16px;
}

.reset__password--btn:active {
    transform: scale(0.97);
}


