
.banners {
    width: 100%;
    background-color: var(--secondary-dark-pink-background);
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.banner-img {
    width: 100%;
    min-height: 254px;
    max-height: 300px;
    position: relative;
}

.banners__cta {
    padding: 90px 150px;

}

.cta-line {
    position: absolute;
    width: 90%;
}

.cta__line {
    padding: 37px 85px;
    border: 1px solid var(--primary-black);
    position: relative;
}

.line_left-top {
    position: absolute;
    top: 15px;
    left: -24px;
    transform: rotate(24deg);
    width: 95px;
    height: 95px;
    border-top:1px solid var(--primary-black);
}

.line_left-bottom {
    position: absolute;
    bottom: -72px;
    left: 14px;
    transform: rotate(-24deg);
    width: 95px;
    height: 95px;
    border-top:1px solid var(--primary-black);
}

.line_right-top {
    position: absolute;
    top: 14px;
    right: -24px;
    transform: rotate(-24deg);
    width: 95px;
    height: 95px;
    border-top:1px solid var(--primary-black);
}

.line_right-bottom {
    position: absolute;
    bottom: -72px;
    right: 14px;
    transform: rotate(24deg);
    width: 95px;
    height: 95px;
    border-top:1px solid var(--primary-black);
}

.cta__container {
    display: flex;
    height: 571px;
    background: green;
    border: 1px solid var(--primary-black);
}

.cta__left {
    flex: 1;
    height: 100%;
}

.cta__right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary-dark-pink-background);
}

.cta-img {
    width: 100%;
    height: 100%;
}

.cta__title {}

.cta__description {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 431px;
}
