
.rich-text {
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 40px;
}

.rich-text__title {
    max-width: 580px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rich-text__description {
    max-width: 601px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 167.5%;
    color: #FFFFFF;
    margin: 24px 0px 40px 0px;
    
}


