
.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 50px;
    position: relative;
    min-height: 100vh;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 30px;
    margin-top: 50px;
}

.cart-subtotal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.cart-subtotal-counter {
    font-weight: 700;
}

.product-card {
    width: 340px;
    height: 430px;
    position: relative;
    border: 1px solid #999;
    padding: 5px;
}

.product-card .image-wrapper {
    width: 100%;
    height: 330px;
    /* background-color: rgb(192, 192, 195); */
}

.product-card .productImg {
    width: 100%;
    height: 100%;
}

.badge__container {
    position:absolute;
    top: 10px;
    left: 10px;
}

.add-to-cart {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#333;
    color: white;
    border: none;
}

.add-to-cart:hover {
    transform: scale(0.98);
}

.add-to-cart:active {
    background-color: white;
    border: 1px solid #333;
    color: #333;
    font-weight: 800;
    transform: scale(0.98);
}

/* GraphQL Cart */

.graphQL-toggle {
    top: 20px;
    right: 100px;
    position: absolute;
    width: fit-content;
    height: 40px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #666;
    color: white;
}

.graphQL-toggle:active {
    transform: scale(0.97);
}

.graphQL-cart {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100vh;
    transition: all .9s ease;
    padding: 10px;
    padding-top: 20px;
    background: white;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.graphQL-cart__title {
    width: 100%;
    text-align: center;
}

.graphQL-cart svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25px;
    right: 40px;
}

.graphQL-cart svg:active {
    transform: scale(0.90);
}

.cart-products {
    width: 100%;
    margin-top: 40px;
    height: 650px;
    overflow-y: auto;
}

.cart-item__remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    align-items:center;
    background: white;
}

.cart-item__remove:active {
    transform: scale(0.97);
    border: 1px solid rgb(99, 98, 98);
}

.cart-product__title {
    width: 150px;
    max-height: 80px;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items:center;
}

.cart-product {
    width: 100%;
    height: 100px;
    /* background: #999;  */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.cart-product__image-wrapper {
    width: 90px;
    height: 90px;
}

.cart-product__image {
    width: 100%;
    height: 100%;
}

.cart-product__quantity {
    display: flex;
    align-items:center;
    gap: 10px;
}

.cart-product__increment, .cart-product__decrement {
    width: 30px;
    height: 30px;
}

.cart-buttons {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.cart-checkout {
    width: 100%;
    background: #333;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}

.cart-checkout:active {
    transform: scale(0.97);
}

.cart-continue-shopping {
    width: 100%;
    height: 50px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.cart-continue-shopping:active {
    transform: scale(0.97);
}