.plp {
    width: 100%;
    min-height: 100vh;
    background: red;
}

.plp__header {
    height: 553px;
    background-color: var(--secondary-dark-pink-background);
}

.plp__hero {
    width: 100%;
    min-height: 209px;
    max-height: 309px;
    margin-top: 80px;
}