
.header {
    max-width: 1920px;
    width: 100%;
    padding: 10px 40px 20px 40px;
    margin: auto;
    position: relative;
    top: 0px;
    z-index: 10;
    top: 0px;
    left: 0;
    z-index: 10;
    /* background-color: black; */
}

.header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.logo {

}

.logo:hover {
    cursor: pointer;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.nav__item {
    list-style-type: none;
}

.home .nav__link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link:hover {
    cursor: pointer;
}

.header__icons {
    display: flex;
    align-items:center;
    gap: 20px;
    justify-content: flex-end;
}

.home .header__icons svg path {
    stroke: white;
}

.header__icons svg path {
    stroke: black;
}

.header__icons:hover {
    cursor: pointer;
}

.basket__counter--wrapper {
    position: relative;
    display: flex;
    align-items:flex-end;
}

.basket__counter {
    display: flex;
    justify-content: center;
    align-items:center;
}

.basket__counter-style {
    position: absolute;
    top: -5px;
    right: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    color: #ffffff;
    font-size: 9px;
}



